* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #000;
    padding: 10px;
    max-width: 1440px;
    margin: 0 auto;
}


.part {
    height: 100vh;
    border: 3px solid #000;
}

.title {
    text-align: center;
}

.catalogue {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 100px;
}

.catalogue::before {
    content: '';
    float: left;
    width: 500px;
    height: 500px;
    shape-outside: polygon(0 0,
            100% 0,
            50% 50%,
            100% 100%,
            0% 100%);
}


.square {
    display: inline-block;
    padding: 200px 400px;
    background-color: #fff;
    background-image:
        linear-gradient(45deg, #eee 25%, transparent 25%, transparent 75%, #eee 75%),
        linear-gradient(45deg, #eee 25%, transparent 25%, transparent 75%, #eee 75%);
    background-size: 16px 16px;
    background-position: 0 0, 8px 8px;
}


.part2 {
    display: inline-block;
    overflow: hidden;
    position: relative;
}

.clip-img {
    display: block;
}

.clip-shape {
    width: 150px;
    height: 150px;
    outline: 9999px solid rgba(0, 0, 0, .5);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    cursor: move;
}

.guide-x {
    text-align: center;
    padding: 100px 16px;
    background-color: #fff;
    position: relative;
    overflow: hidden;
}

.guide-overlay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(transparent, transparent);
}

.guide-overlay-shape {
    width: 100px;
    height: 60px;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border-radius: 50%;
    box-shadow: 0 0 0 9999px rgba(0, 0, 0, .75);
}

/* 外圆角选项卡 */
.tab-x {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    padding-left: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.tab-a {
    --backgroundColor: #fff;
    background-color: var(--backgroundColor);
    line-height: 20px;
    padding: 10px 20px;
    border-radius: 16px 16px 0 0;
    filter: drop-shadow(0 -1px 1px rgba(0, 0, 0, .1));
    position: relative;
}

/* 创建外侧圆弧 */
.tab-a::before,
.tab-a::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 16px;
    height: 16px;
}

.tab-a::before {
    background: radial-gradient(circle at 0 0, transparent, transparent 16px, var(--backgroundColor) 17px);
    right: 100%;
}

.tab-a::after {
    background: radial-gradient(circle at 100% 0, transparent, transparent 16px, var(--backgroundColor) 17px);
    left: 100%;
}

.tab-a.active {
    --backgroundColor: teal;
    color: #fff;
    z-index: 1;
}

/* 径向渐变实现外部圆角 */
.quar-radius {
    width: 96px;
    height: 96px;
    border-radius: 0 0 50% 0;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    box-shadow: 0 0 0 100px teal;
}

/* 五角星镂空效果 */
.shape-hollow-x {
    width: 600px;
    max-width: 100%;
    height: 300px;
    background: linear-gradient(red, green);
    position: relative;
}

.shape-hollow {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(0, 0, 0, .75);
    /* 实际开发需要-webkit- */
    -webkit-mask: no-repeat center;
    mask: no-repeat center;
    -webkit-mask-image: linear-gradient(black, black), url(./image/star.svg);
    mask-image: linear-gradient(black, black), url(./image/star.svg);
    -webkit-mask-size: cover, 120px 120px;
    mask-size: cover, 120px 120px;
    -webkit-mask-composite: exclude;
    mask-composite: exclude;
    -webkit-mask-composite: source-out;
}

/* 白天照片模拟黑夜 */
.night {
    width: 256px;
    height: 256px;
    background: rgba(0, 40, 140, .6) url(./image/house-bed.jpg);
    background-size: 100%;
    background-blend-mode: darken;
    filter: brightness(80%) grayscale(20%) contrast(1.2);
}

.girl {
    width: 256px;
    height: 171px;
    background: rgba(238, 179, 163, .8) url(./image/mm.jpg);
    background-size: 100%;
    background-blend-mode: soft-light;
    filter: contrast(1.1);
}

/* 素描 */
.sketch {
    width: 256px;
    height: 192px;
    background: url(./image/example.jpg) -2px -2px, url(./image/example.jpg);
    background-size: 258px 194px;
    background-blend-mode: difference;
    filter: brightness(3) invert(1) grayscale(1);
}

/* 水彩 */
.watercolor {
    width: 256px;
    height: 192px;
    position: relative;
    overflow: hidden;
}

.watercolor::before {
    content: '';
    display: block;
    height: inherit;
    background: url(./image/example.jpg) -2px -2px, url(./image/example.jpg);
    background-size: 100%;
    background-blend-mode: difference;
    filter: brightness(2) invert(1) grayscale(1);
}

.watercolor::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: inherit;
    width: inherit;
    background: url(./image/example.jpg) -1px -1px;
    background-size: 100%;
    mix-blend-mode: multiply;
    filter: brightness(1.3) blur(2px) contrast(2);
}

/* 彩铅 */
.pencil {
    width: 256px;
    height: 192px;
    position: relative;
    overflow: hidden;
}

.pencil::before {
    content: '';
    display: block;
    height: inherit;
    background: url(./image/example.jpg) -1px -1px, url(./image/example.jpg);
    background-size: calc(100% + 1px);
    background-blend-mode: difference;
    filter: brightness(2) invert(1) grayscale(1);
}

.pencil::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: inherit;
    width: inherit;
    background: url(./image/example.jpg);
    background-size: 100%;
}

/* 饼图 */
.pie-simple {
    width: 128px;
    height: 128px;
    background-color: white;
    border-radius: 50%;
    overflow: hidden;
}

.pie-left,
.pie-right {
    width: 50%;
    height: 100%;
    float: left;
    position: relative;
    overflow: hidden;
}

.pie-left::before,
.pie-right::before,
.pie-right::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: teal;
}

.pie-left::before {
    left: 100%;
    transform-origin: left;
    transform: rotate(calc(3.6deg * (var(--percent) - 50)));
    opacity: calc(99999 * (var(--percent) - 50));
}

.pie-right::before {
    right: 100%;
    transform-origin: right;
    transform: rotate(calc(3.6deg * var(--percent)));
}

.pie-right::after {
    opacity: calc(99999 * (var(--percent) - 50));
}

/* 饼图单循环动画效果 */
.pie-spin {
    width: 128px;
    height: 128px;
    background-color: white;
    border-radius: 50%;
    overflow: hidden;
}

.pie-spin-left,
.pie-spin-right {
    width: 50%;
    height: 100%;
    float: left;
    position: relative;
    overflow: hidden;
}

.pie-spin-left::before,
.pie-spin-right::before,
.pie-spin-left::after,
.pie-spin-right::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: teal;
}

.pie-spin-left {
    opacity: 1;
    animation: second-half-show 1.6s steps(1, end) infinite;
}

.pie-spin-left::before {
    left: 100%;
    transform-origin: left;
    animation: spin 1.6s .8s infinite linear;
}

.pie-spin-right::before {
    right: 100%;
    transform-origin: right;
    animation: spin 1.6s infinite linear;
}

.pie-spin-right::after {
    animation: second-half-show 1.6s steps(1, end) infinite;
    opacity: 1;
}

.pie-spin-left::after {
    animation: second-half-hide 1.6s steps(1, end) infinite;
    opacity: 0;
}

@keyframes spin {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes second-half-hide {
    0% {
        opacity: 1;
    }

    50%,
    100% {
        opacity: 0;
    }
}

@keyframes second-half-show {
    0% {
        opacity: 0;
    }

    50%,
    100% {
        opacity: 1;
    }
}

/* 饼图交替循环动画效果 */
.pie-spin2 {
    width: 128px;
    height: 128px;
    background-color: white;
    border-radius: 50%;
    overflow: hidden;
}

.pie-spin2-left,
.pie-spin2-right {
    width: 50%;
    height: 100%;
    float: left;
    position: relative;
    overflow: hidden;
}

.pie-spin2-left::before,
.pie-spin2-right::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: teal;
}

.pie-spin2-left::before {
    left: 100%;
    transform-origin: left;
    animation: spinWait2 3.2s infinite linear;
}

.pie-spin2-right::before {
    right: 100%;
    transform-origin: right;
    animation: spinWait1 3.2s infinite linear;
}

@keyframes spinWait1 {
    0% {
        transform: rotate(0deg);
    }

    25%,
    50% {
        transform: rotate(180deg);
    }

    75%,
    100% {
        transform: rotate(360deg);
    }
}

@keyframes spinWait2 {

    0%,
    25% {
        transform: rotate(0deg);
    }

    50%,
    75% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* 3D示意 */
.pie-spin-3d {
    position: relative;
    width: 256px;
    perspective: 600px;
    padding-top: 50px;
    padding-bottom: 50px;
    border: 1px dotted;
    transition: perspective .2s;
}

[style*="none"]>.pie-3d-size {
    transform: rotateY(0);
}

.pie-3d-size {
    width: 128px;
    height: 128px;
    margin: auto;
    transform: rotateY(-45deg);
    position: relative;
    transform-style: preserve-3d;
    font-size: 14px;
    transition: transform .2s;
}

.pie-3d-spin-l,
.pie-3d-spin-r,
.pie-3d-fill-r,
.pie-3d-left,
.pie-3d-right {
    position: absolute;
    width: 50%;
    height: 100%;
}

.pie-3d-spin-l {
    left: 50%;
    transform-origin: left;
    transform: translateZ(-190px);
    background-color: green;
    opacity: .7;
    outline: 1px solid green;
}

.pie-3d-spin-l::before {
    display: block;
    content: '左旋转';
    text-align: center;
    text-shadow: 1px 1px #fff;
}

.pie-3d-spin-l::after {
    content: '';
    width: 4px;
    height: 4px;
    background-color: red;
    left: 0;
    top: 50%;
    margin-top: -2px;
    position: absolute;
    border-radius: 50%;
}

.pie-3d-spin-r {
    transform-origin: right;
    transform: translateZ(-200px);
    right: 50%;
    background-color: teal;
    opacity: .7;
    outline: 1px solid teal;
}

.pie-3d-spin-r::before {
    display: block;
    content: '右旋转';
    text-align: center;
    text-shadow: 1px 1px #fff;
}

.pie-3d-spin-r::after {
    content: '';
    width: 4px;
    height: 4px;
    background-color: red;
    right: 0;
    top: 50%;
    margin-top: -2px;
    position: absolute;
    border-radius: 50%;
}

.pie-3d-fill-r {
    transform: translateZ(-90px);
    right: 0;
    background-color: rgba(0, 128, 128, .7);
    outline: 1px solid rgba(0, 128, 128, .7);
}

.pie-3d-fill-r::before {
    content: '右半区覆盖层';
    position: absolute;
    top: -24px;
    white-space: nowrap;
    color: teal;
    left: 0;
}

.pie-3d-left,
.pie-3d-right {
    background-color: red;
    opacity: .5;
}

.pie-3d-right {
    right: 0;
    transform: translateZ(-10px);
}

.pie-3d-left::before {
    content: '左半可视区域';
    position: absolute;
    top: -24px;
    white-space: nowrap;
    color: red;
    right: 0;
}

.pie-3d-right::before {
    content: '右半可视区域';
    position: absolute;
    top: -24px;
    white-space: nowrap;
    color: red;
    left: 0;
}

.pie-3d {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: blue;
    opacity: .75;
    box-shadow: 0 0 1px rgba(0, 0, 0, .75);
    transform: translateZ(10px);
}

.pie-3d::before {
    content: '可视圆角大小';
    position: absolute;
    right: 80%;
    top: 50%;
    margin-top: -20px;
    white-space: nowrap;
    mix-blend-mode: difference;
    color: blue;
    background-color: #fff;
}

/* 打点动画 */
dot-a {
    display: inline-block;
    height: 1em;
    line-height: 1;
    text-align: left;
    vertical-align: -.25ex;
    overflow: hidden;
}

dot-a::before {
    display: block;
    content: '...\A..\A.';
    white-space: pre-wrap;
    animation: dot1 3s infinite step-start both;
}

@keyframes dot1 {
    33% {
        transform: translateY(-2em);
    }

    66% {
        transform: translateY(-1em);
    }
}

dot-b::before {
    content: '...';
    position: absolute;
    animation: dot2 3s infinite step-start both;
}

dot-b:after {
    content: '...';
    color: transparent;
}

@keyframes dot2 {
    33% {
        content: '.';
    }

    66% {
        content: '..';
    }
}

dot-c {
    display: inline-block;
    width: 3ch;
    text-indent: -1ch;
    vertical-align: -.25ex;
    overflow: hidden;
    animation: dot3 3s infinite step-start both;
    font-family: Consolas, Monaco, monospace;
}

@keyframes dot3 {
    33% {
        text-indent: 0;
    }

    66% {
        text-indent: -2ch;
    }
}

dot-d::before {
    content: '';
    position: absolute;
    width: 2px;
    height: 2px;
    background-color: currentColor;
    box-shadow: 4px 0, 8px 0;
    animation: dot4 3s infinite step-start both;
    margin-top: 1em;
}

dot-d::after {
    content: '...';
    color: transparent;
}

@keyframes dot4 {
    33% {
        box-shadow: none;
    }

    66% {
        box-shadow: 4px 0;
    }
}

dot-e::before {
    content: '';
    position: absolute;
    width: 10px;
    height: 2px;
    padding: 0 2px;
    border-left: 2px solid;
    border-right: 2px solid;
    background-color: currentColor;
    background-clip: content-box;
    box-sizing: border-box;
    animation: dot5 3s infinite step-start both;
    margin-top: 1em;
}

dot-e::after {
    content: '...';
    color: transparent;
}

@keyframes dot5 {
    33% {
        border-right-color: transparent;
        background-color: transparent;
    }

    66% {
        border-right-color: transparent;
    }
}