* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(30, 30, 30);
    color: #ddd;
}

.part {
    min-height: 100vh;
    max-width: 1440px;
    padding: 50px 30px;
}

.part0 {
    background-color: rgb(30, 30, 30);
}

.title {
    text-align: center;
}

.catalogue {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 100px;
}

.catalogue::before {
    content: '';
    float: left;
    width: 500px;
    height: 500px;
    shape-outside: polygon(0 0,
            100% 0,
            50% 50%,
            100% 100%,
            0% 100%);
}


.square {
    display: inline-block;
    padding: 200px 400px;
    background-color: #fff;
    background-image:
        linear-gradient(45deg, #eee 25%, transparent 25%, transparent 75%, #eee 75%),
        linear-gradient(45deg, #eee 25%, transparent 25%, transparent 75%, #eee 75%);
    background-size: 16px 16px;
    background-position: 0 0, 8px 8px;
}


.part2 {
    display: inline-block;
    overflow: hidden;
    position: relative;
}

.clip-img {
    display: block;
}

.clip-shape {
    width: 150px;
    height: 150px;
    outline: 9999px solid rgba(0, 0, 0, .5);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    cursor: move;
}

.guide-x {
    text-align: center;
    padding: 100px 16px;
    background-color: #fff;
    position: relative;
    overflow: hidden;
}

.guide-overlay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(transparent, transparent);
}

.guide-overlay-shape {
    width: 100px;
    height: 60px;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border-radius: 50%;
    box-shadow: 0 0 0 9999px rgba(0, 0, 0, .75);
}

/* 外圆角选项卡 */
.tab-x {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    padding-left: 20px;
    border-bottom: 1px solid rgba(0,0,0,.1);
}
.tab-a {
    --backgroundColor: #fff;
    background-color: var(--backgroundColor);
    line-height: 20px;
    padding: 10px 20px;
    border-radius: 16px 16px 0 0;
    filter: drop-shadow(0 -1px 1px rgba(0,0,0,.1));
    position: relative;
}
/* 创建外侧圆弧 */
.tab-a::before,
.tab-a::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 16px; height: 16px;
}
.tab-a::before {
    background: radial-gradient(circle at 0 0, transparent, transparent 16px, var(--backgroundColor) 17px);
    right: 100%;
}
.tab-a::after {
    background: radial-gradient(circle at 100% 0, transparent, transparent 16px, var(--backgroundColor) 17px);
    left: 100%;
}
.tab-a.active {
    --backgroundColor: teal;
    color: #fff;
    z-index: 1;
}

/* 径向渐变实现外部圆角 */
.quar-radius {
    width: 96px; height: 96px;
    border-radius: 0 0 50% 0;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    box-shadow: 0 0 0 100px teal;
}